.coverage
.env
.env.development
.env.local
.env.production
.pytest_cache
.serverless
node_modules/
venv/
__pycache__/
infrastructure/terraform.tfvars
*.tfstate
*.tfstate.backup
**/.terraform/*
**/.terragrunt-cache/*